body { 
    padding-top: 100px;
    background-color:#f4f4f4;
}

#logo{
	width:210px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 70px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    color: #665a61;
    font-weight: 550;
    font-style: italic;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}
